body{
    background-image: url("../img/tree_bark.png");
}

#container{
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    padding: 50px;
    background-color: 	#fbfbfb;
    border: 2px solid #e6e6e6;
    border-radius: 15px;

    -webkit-box-shadow: 0px 0px 15px 3px rgba(189,183,189,1);
    -moz-box-shadow: 0px 0px 15px 3px rgba(189,183,189,1);
    box-shadow: 0px 0px 15px 3px rgba(189,183,189,1);
}

input[type=text],
input[type=password]{
    width: 350px;
    background-color:#f1f1f1;
    border:2px solid #e6e6e6;
    border-radius: 5px;
    color: #666666;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15px;

    -webkit-box-shadow: 0px 0px 9px -2px rgba(189,183,189,0.9);
    -moz-box-shadow: 0px 0px 9px -2px rgba(189,183,189,0.9);
    box-shadow: 0px 0px 9px -2px rgba(189,183,189,0.9);
    outline:none;
}

input[type=submit]{
    width: 350px;
    background-color: #09b15d;
    margin-top: 25px;
    font-size: 18px;
    border-radius: 5px;
    border: 0px solid;
    color: #f1f1f1;
    padding: 10px;
}

input[type=text]:focus,
input[type=password]:focus{
    -webkit-box-shadow: 0px 0px 12px -2px rgba(181, 204, 188, 0.9);
    -moz-box-shadow: 0px 0px 12px -2px rgba(173, 201, 182, 0.9);
    box-shadow: 0px 0px 12px -2px rgba(173, 201, 182, 0.9);
    background-color: #cde7cd
}


.fa-sign-in{
    color: 	#dedede;
    text-align: center;
    padding-left: 130px


}

table{
    margin-left:auto;
    margin-right: auto;
    border: 1px solid #b3c2bf;
    table-layout: fixed;
    width: 550px;
    border-collapse: collapse;
}
th,td{
    margin: 0;
    text-align: center;
    border-right: 1px solid #b3c2bf;
    padding: 8px;  
    color:rgb(129, 126, 126); 
}
thead th{
    padding:  8px 8px 0px 8px;
}
thead td{
    padding:  2px 8px 8px 8px;
}
thead {
    border-bottom: 1px solid #b3c2bf;
    background-color: #e9ece5;
} 

tbody td:a{
    background-color: #9ed6cb;
    border-radius: 8px;
} 
caption{
    color:#75bbad;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top:20px;
        
}
